---
title: Home
---

<!DOCTYPE html>
<html lang="en">

<head>
    {% include head.html %}
</head>

<body>
    <div class="d-flex toggled" id="wrapper">
        {% include sidebar.html %}

        <!-- Page Content -->
        <div id="page-content-wrapper" class="home-image">

            <nav class="navbar sticky-top navbar-expand-lg home-nav-bg border-bottom">
                <button class="btn btn-brand" id="menu-toggle">
                    <i class="fas fa-bars"></i>
                </button>

                <a href="#" class="navbar-brand mb-0 h1 text-center mx-auto"></a>
            </nav>

            <div class="container">

                <article class="page home-page">
                    <h1 class="page-title" id="page-title">{{ site.title }}</h1>
                    <div class="page-content">
                        <p><span class="firstcharacter">W</span>elcome to ECEn 192! This class is your gateway to the fascinating worlds of electronics, engineering, programming, and cybersecurity. Throughout the course, you'll embark on hands-on projects that will challenge you to explore these dynamic fields, apply your knowledge in real-world scenarios, and develop skills that are crucial for the future. Whether you're building circuits, programming microcontrollers, or learning how to protect digital systems, you'll deepen your understanding of these essential technologies. Get ready to dive into the world of electrical engineering, computer engineering, and cybersecurity, where creativity meets technical expertise!
                    </div>
                </article>
                <div class="thanks">
                    <p>Special thanks to <a href="https://www.linkedin.com/in/lauren-hurst-1a41821a3/">Lauren Hurst</a>
                        and <a href="https://www.linkedin.com/in/brynn-lafleur-301a991a3/">Brynn LaFleur</a> for all of
                        the graphics and icons!</p>
                </div>
            </div>
        </div>
    </div>
    <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->

    {% include scripts.html %}

</body>

</html>
