---
layout: default
---
<style></style>
<article class="page">
    <h1 class="page-title" id="page-title">
        {{ page.title }} Homework
    </h1>

    <div class="page-content">
        {% if page.problems %}
        <ol>
            {% for problem in page.problems %}

            {% if problem.image %}
            <img src="{{ problem.image }}" />
            {% endif %}

            <li>{{ problem.question | markdownify }}</li>

            {% if problem.parts %}
            <ol type="a">
                {% for part in problem.parts %}
                <li>{{ part | markdownify }}</li>
                {% endfor %}
            </ol>
            {% endif %}

            <hr style="border: 0; border-bottom: 1px dotted #ccc; margin: 30px 0px">

            {% endfor %}
        </ol>

        {% else %}

        {{ content }}

        {% endif %}
    </div>
</article>
